body{
    background-color: rgba(235, 122, 94, 0.614);
}

#masterPlay{
    position: relative;
    width: 100px;
    height: 50px;
    background-color: brown;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
  


}

#masterPlay button{
    background-color: brown;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}

#clock{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background-image: url(clock.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#hour,#minute,#second{
    position: absolute;
    transform-origin: bottom;   
}

#hour{
    background-color: black;
    width: 1.8%;
    height: 20%;
    top: 30%;
    left: 48.85%;
    border-radius: 5px;
}

#minute{
    
    background-color: rgb(4, 99, 176);
    width: 1.6%;
    height: 25%;
    top: 24%;
    left: 48.9%;
    border-radius: 5px;
}

#second{
    background-color: rgb(188, 6, 6);
    width: 1%;
    height: 35%;
    top: 14%;
    left: 49.25%;
    border-radius: 5px;
}